<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-android-ringermode" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
  <name>RingerMode</name>
  <engines>
    <engine name="cordova-android" version=">5.0.0"/>
  </engines>
  <js-module name="RingerMode" src="www/RingerMode.js">
    <clobbers target="RingerMode" />
  </js-module>

  <platform name="android">
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="RingerMode">
        <param name="android-package" value="com.cordova.plugins.ringermode.RingerMode"/>
      </feature>
    </config-file>
    <source-file src="src/android/RingerMode.java" target-dir="src/com/cordova/plugins/ringermode"/>
  </platform>
</plugin>
